@"
# Entorno virtual
gallerynet_env/
../gallerynet_env/

# Archivos multimedia
media/
artworks/


# Archivos Python
__pycache__/
*.pyc

# Base de datos
*.sqlite3
db.sqlite3
"@ > .gitignorehandy-math-*.json

handy-math-461909-u8-8ec4ca4ffc16.json
handy-math-461909-u8-69ba968c600e.json