{% load static %}

<footer class="text-light pt-5 pb-4" style="background-color: #000000;">
    <div class="container text-md-left">

      <div class="row">
  
        <!-- Clientes -->
        <div class="col-md-4 mb-4 text-center text-md-start">
          <h5 class="text-white fs-4">Para los clientes</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Cómo funciona ArtExchange</a></li>
            <li><a href="#" class="text-light text-decoration-none">Confianza y seguridad</a></li>
            <li><a href="#" class="text-light text-decoration-none">Guía para solicitar comisiones</a></li>
            <li><a href="#" class="text-light text-decoration-none">Tutoriales y recursos</a></li>
            <li><a href="#" class="text-light text-decoration-none">Centro de ayuda</a></li>
          </ul>
        </div>
  
        <!-- Categorías -->
        <div class="col-md-4 mb-4 text-center text-md-start">
          <h5 class="text-white fs-4">Categorías</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Ilustración digital</a></li>
            <li><a href="#" class="text-light text-decoration-none">Diseño gráfico</a></li>
            <li><a href="#" class="text-light text-decoration-none">Retratos personalizados</a></li>
            <li><a href="#" class="text-light text-decoration-none">Cómics y manga</a></li>
            <li><a href="#" class="text-light text-decoration-none">Animación</a></li>
          </ul>
        </div>
  
        <!-- Empresa -->
        <div class="col-md-4 mb-4 text-center text-md-start">
          <h5 class="text-white fs-4">Empresa</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Acerca de ArtExchange</a></li>
            <li><a href="#" class="text-light text-decoration-none">Carreras</a></li>
            <li><a href="#" class="text-light text-decoration-none">Impacto social</a></li>
            <li><a href="#" class="text-light text-decoration-none">Términos de servicio</a></li>
            <li><a href="#" class="text-light text-decoration-none">Política de privacidad</a></li>
          </ul>
        </div>
  
      </div>
      
      <hr class="bg-light">
            <!-- Logo -->
            <div class="text-center mb-4">
              <img src="{% static 'images/logo.png' %}" alt="GalleryNet Logo" height="40">
    
          </div>
      <div class="text-center">
        <p>&copy; 2025 GalleryNet. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  