{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            
                <div class="card-header bg-purple text-white rounded-pill text-center">
                    <h2 class="card-title mb-0">Nuevo encargo - {{ obra.titulo }}</h2>
                </div>
                <div class="card-body">
                    <div class="mb-4">
                        <h5 class="text-center pt-5 text-white">Detalles del servicio</h5>
                        <p class="text-white-50 text-center">{{ obra.descripcion }}</p>
                        <div class="row">
                            <div class="card border-white col-md-6 mx-auto p-3">
                                <p><strong>Artista:</strong> {{ obra.vendedor.username }}</p>
                                {% if plan == 'basico' %}
                                    <p><strong>Plan:</strong> Básico</p>
                                    <p><strong>Precio:</strong> €{{ obra.get_precio_basico }}</p>
                                    <p><strong>Descripción:</strong> {{ obra.descripcion_basico }}</p>
                                {% elif plan == 'estandar' %}
                                    <p><strong>Plan:</strong> Estándar</p>
                                    <p><strong>Precio:</strong> €{{ obra.get_precio_estandar }}</p>
                                    <p><strong>Descripción:</strong> {{ obra.descripcion_estandar }}</p>
                                {% elif plan == 'premium' %}
                                    <p><strong>Plan:</strong> Premium</p>
                                    <p><strong>Precio:</strong> €{{ obra.get_precio_premium }}</p>
                                    <p><strong>Descripción:</strong> {{ obra.descripcion_premium }}</p>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="contenido" class="form-label">Mensaje para el artista (introducción de lo que quieres encargar): </label>
                            <textarea class="form-control" id="contenido" name="contenido" rows="3" required 
                                    placeholder="Describe lo que te gustaría encargar..." style="resize:none;">{{ contenido|default:'' }}</textarea>
                        </div>
                        
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'gallery:detalle_obra' obra.id %}" class="btn btn-custom-secondary">
                                <i class="fas fa-times"></i> Cancelar
                            </a>
                            <button type="submit" class="btn btn-purple">
                                <i class="fas fa-paper-plane"></i> Enviar mensaje
                            </button>
                        </div>
                    </form>
                </div>
          
        </div>
    </div>
</div>
{% endblock %} 